#!/usr/bin/env bash
today=`date +%Y-%m-%d-%H:%M:%S`

# Check the folders ###########################################################
if [[ ! -d {{app_log_dir}} ]]; then
    echo "creating log dir"
    mkdir -p {{app_log_dir}}
    chown {{chown_log_dir}} {{app_log_dir}}/
else
    chown -R {{chown_log_dir}} {{app_log_dir}}
fi
###############################################################################

if [[ ! -d instance ]]; then
    mkdir instance
fi

if [[ ! -e instance/env.sh ]]; then
    echo "creating instance env vars file"
    echo "export NEST_PRODUCT_ID=" > instance/env.sh
    echo "export NEST_PRODUCT_SECRET=" > instance/env.sh
    echo "export MAILGUN_API_KEY=" > instance/env.sh
    echo "export MAILGUN_DOMAIN_NAME=" > instance/env.sh
    echo "export MAILGUN_FROM=" > instance/env.sh
    echo "export MAILGUN_TO=" > instance/env.sh
    echo "eval \"$(_GCAL_NEST_COMPLETE=source gcal-nest)\"" > instance/env.sh
    chmod +x instance/env.sh
fi

# Check the circus config######################################################
if [[ (! -e instance/circus.ini) || (-n `diff _build/circus.ini instance/circus.ini`) ]]; then
    echo "changes detected in 'instance/circus.ini'"
    cp -f _build/circus.ini instance
else
    echo "no changes detected in circus.ini"
fi
###############################################################################

# Check the service ###########################################################
if [[ ! -e {{service_path}}/{{service_name}} ]]; then
    echo "creating the service"
    cp _build/gcal-nest-systemd.service {{service_path}}/{{service_name}}
    chmod 755 {{service_path}}/{{service_name}}
    systemctl daemon-reload
    systemctl enable {{service_name}}
elif [[ -n `diff _build/gcal-nest-systemd.service {{service_path}}/{{service_name}}` ]]; then
    echo "backing up existing service file"
    mv {{service_path}}/{{service_name}} {{service_path}}/{{service_name}}.$today

    echo "deploying the service"
    cp _build/gcal-nest-systemd.service {{service_path}}/{{service_name}}
    chmod {{service_chmod}} {{service_path}}/{{service_name}}
    systemctl daemon-reload
else
    echo "no change detected in {{service_path}}/{{service_name}}"
fi

# We always want to restart the service to pick up the code changes.
echo "restarting the service"
systemctl restart {{service_name}}
