layout python python3.7

if [[ (-e "./instance/env.sh") && (-e ".env") ]]; then
    echo "WARNING: instance/env.sh and .env found"
    echo "...only sourcing instance/env.sh"
fi

if [[ -e "./instance/env.sh" ]]; then
    source instance/env.sh
elif [[ -e ".env" ]]; then
    set -o allexport
    source .env
    set +o allexport
else
    echo "WARNING: No environment configuration file found"
fi