layout python python3

# dotenv_if_exists

PATH_add ./bin

# [[ -f .secrets/env.sh ]] && source .secrets/env.sh

export SECRETS_FOLDER=.secrets
export LOG_FILE_DIRECTORY=$(expand_path ./.secrets/logs)
export CONFIG_FOLDER=$(expand_path ./.secrets)
export PYTHONBREAKPOINT=ipdb.set_trace
export NOOGLE_ENV=$(expand_path ./.secrets/.env)
