# NOTE: Copy this file to /etc/systemd/system/gcal-nest.service during deployment
#       also set permissions: `sudo chmod 755 /etc/systemd/system/gcal-nest.service`

[Unit]
Description=circusd config to control gcal_nest

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p {{run_dir}}; chown {{chown_socket}} {{run_dir}}; chmod -R 775 {{run_dir}}'
ExecStart=/usr/bin/bash -c 'cd {{chdir}}; source {{conda_dir}}/bin/activate {{conda_env_name}}; source instance/env.sh; {{conda_dir}}/bin/circus --ini circus.ini'

[Install]
WantedBy=multi-user.target